src/main/resources/gun.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.epam.com/GunShop" xmlns:tns="http://www.epam.com/GunShop">
    <xs:element name="gun">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="type"/>
                <xs:element type="xs:string" name="model"/>
                <xs:element type="xs:string" name="origin"/>
                <xs:element minOccurs="1" maxOccurs="1" name="TTC">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="caliber"/>
                            <xs:element type="xs:int" name="magazineCapacity"/>
                            <xs:element type="xs:int" name="fireRate"/>
                            <xs:element type="xs:int" name="firingRange"/>
                            <xs:element type="xs:int" name="effectiveFiringRange"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
